@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }


.header {
padding-bottom: 24px;
padding-top: 24px;
}
.header-list-adress {
        display: flex;
}
.header-list-adress {
    display: flex;
}

.header-item-adress:not(:last-child) {
    margin-right: 40px;
}


.contact-adress-link {

    font-size: 16px;
    line-height: 1.5;
}


.header-link.current::after {
        bottom: -24px;
    }

/* !!!!!!!!!!!!!!!!!!!!!        HERO     !!!!!!!!!!!!!!!!!! */

.hero {
background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url('../images/people-office.jpg');
}

.hero-title {
    margin-bottom: 48px;
}
.modal {
    height: 584px;
    width: 408px;
}

.modal-form-check-desc {
    margin-top: 8px;
}

/* !!!!!!!!!!!!!!!            FEATURES     !!!!!!!!!!! */

.about {
    padding-bottom: 120px;
    padding-top: 120px;
}
.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}


.features-list-item:not(:last-child) {   
     margin: 0;
}

.features-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--btn-bg-color);
    border-radius: 4px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.features-svg:hover,
.features-svg:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-icon {
    fill: var(--second-bg-color);
}

.features-list {
    flex-wrap: nowrap;
}
.after-about-title {
    font-weight: 400;
}
/* !!!!!!!!!!!!!!!!!        DEVELOPMENT     !!!!!!!!!!!!!!! */

.development {
    display: block;
    padding-bottom: 120px;
}

.development-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--main-text-color);
margin-bottom: 72px;
text-align: center;
}



.development-list {
    display: flex;
    gap: 24px;
}

/* !!!!!!!!!!!!!!!!!!        TEAM      !!!!!!!!!!!!!!!!! */

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}
@media screen and (min-width: 1200px) {
    .team-title-list {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 24px;
        justify-content: center;
    }
}
@media screen and (min-width: 1200px) {
    .team-containt-wrapper {
        padding-top: 32px;
        padding-bottom: 32px;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
    }
}






/* !!!!!!!!!!!!!!     FOOTER      !!!!!!!!!!!!!! */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    padding-left: 16px;
    padding-right: 16px;
}

.footer-position {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer-position-up {
    gap: 120px;
}


}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/people-office\ 12x.jpg');
    }
}



