.navi-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-right: 76px;

}

.navi-logo-2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-text-color);
}




.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-open-icon {
    stroke: #2E2F42;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.hero {
    background-color: rgba(46, 47, 66, 0.7);
    padding-top: 112px;
    padding-bottom: 108px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/Dark-mobile-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    max-width: 428px;
    height: 432px ;

}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    color: var(--btn-text-color-active);

}


.hero-button {
    background-color: var(--btn-text-color);
    color: var(--btn-text-color-active);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

/* ++++++++++++++++++++++TEAM++++++++++++++++++++++++++++ */
.team {
    background-color: var(--second-bg-color);
    padding-top: 96px;
    padding-bottom: 128px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 72px;

}

.team-title-list {
    display: flex;
    flex-direction: column;
    gap: 72px;


}

.team-wrapper {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.team-item {
    background-color: var(--main-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.team-containt-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;

}




.team-title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 8px;
}

.after-team-title {
    line-height: 1.5;
    color: var(--second-text-color);
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-text-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-soc-link:is(:hover, :focus) {
    background-color: var(--btn-bg-color-active);
}


.team-soc-icon {
    fill: var(--second-bg-color);
}


/* !!!!!!!!!!!!!!!!!!!!!!    CUSTOMERS     !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
}

.customers-item {
    width: 190px;
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    color: #8E8F99;
    border: 1px solid currentColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;
}

.customers-link:is(:hover, :focus) {
    color: var(--btn-bg-color-active);
}









/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!    FEAUTURES !!!!!!!!!!!!!!!!!!!!!!!!! */


.about {
    padding-bottom: 96px;
    padding-top: 96px;
}




.features-list {
    display: block;
}


.features-list-item:not(:last-child) {
    margin-bottom: 72px;

}

.features-list-item {
    width: 100%;
}



.features-svg {
    display: none;
}


.features-svg:hover,
.features-svg:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-icon {
    fill: var(--second-bg-color);
}

.about-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
    color: var(--main-text-color);
}

.after-about-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}




/* !!!!!!!!!!!!!!!!!!      DEVELOPMENT      !!!!!!!!!!!!!!!!!!! */

.development {
    display: none;

}



/* !!!!!!!!!!!!!!!!!!!!!!       FOOTER      !!!!!!!!!!!!!!!!!!!!! */




.footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-position {
    display: block;

}

.footer-position-1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.navi-logo-footer {
    font-family: Raleway;
    display: inline-block;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-bg-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    display: block;
    color: #E7E9FC;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;

}

.footer-social {
    width: 208px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;


}

.footer-soc-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: var(--main-bg-color);
    display: block;
}


.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;


    width: 208px;
    height: 40px;
}


.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-soc-link:is(:hover, :focus) {
    background-color: var(--btn-footer-color-active);
}


.footer-soc-icon {
    fill: var(--btn-bg-color);
}




.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-form-field {
    width: 100%;




}

.subscribe-form-input {
    height: 40px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--main-text-color);
    color: #FFFFFF;
    outline: none;






}

.subscribe-form-input:focus {
    border-color: var(--btn-text-color);
}

.subscribe-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}


.button-form-subscribe:hover,
.button-form-subscribe:focus {
    background-color: var(--btn-bg-color-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-form-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    border: #404BBF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-text-color);
    color: var(--btn-text-color-active);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.subscribe-soc-icon {
    margin-left: 16px;
}



/* !!!!!!!!!!!!!!!!!!!!!!!     MODAL-WINDOW    !!!!!!!!!!!!!!!!!!! */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 586px;
    overflow: scroll;
}

.modal-close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    fill: currentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--btn-bg-color-active);
    color: var(--btn-text-color-active);

}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field:not(:last-child) {
    margin-bottom: 8px;
}

.modal-form-input-desc {
    display: inline-block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    display: block;
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--btn-text-color);
}

.modal-form-input:focus+.modal-icon {
    fill: var(--btn-text-color);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    border-color: var(--btn-text-color);
}

.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
}

.modal-form-check:checked+.modal-form-check-desc::before {
    background-color: #404BBF;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-form-check:focus+.modal-form-check-desc::before {
    outline: 1.5px solid #4D5AE5;
}


.privacy-policy {
    color: var(--btn-text-color);
}

.modal-form-check-desc::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    content: '';
    cursor: pointer;
    margin-right: 8px;
}

.button-form-submit:hover,
.button-form-submit:focus {
    background-color: var(--btn-bg-color-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-form-submit {
    width: 169px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: #404BBF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-text-color);
    color: var(--btn-text-color-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../images/Dark-mobile-bg@2x.jpg');
    }
}


