@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;

    }

    .header {
        padding-top: 24px;
        padding-bottom: 12px;
    }

    .header-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-navi {
        display: flex;
        align-items: center;

    }

    .header-item:not(:last-child) {
        margin-right: 40px;
    }

    .header-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--main-text-color);
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link.current {
        position: relative;
        color: var(--btn-bg-color-active);
    }

    .header-link.current::after {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        bottom: -18px;
        background-color: currentColor;
    }

    .header-link:is(:hover, :focus) {
        color: var(--btn-bg-color-active);
    }

    .current {
        color: var(--btn-text-color);
    }

    .contact-adress-link {

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--second-text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-adress-link:hover,
    .contact-adress-link:focus {
        color: var(--btn-bg-color-active);
    }

    .mobile-menu-open {
        display: none;
    }


    /* !!!!!!!!!!!!!!!!!!!!!!     HERO        !!!!!!!!!!!!!!!!!!!!!!! */

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-tablet1x.jpg);
    }

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--btn-text-color-active);
    margin-bottom: 40px;
    width: 496px;
}
.hero-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    border: #404BBF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-text-color);
    color: var(--btn-text-color-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: inherit;
    margin: 0 auto;
    display: block;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--btn-bg-color-active);
}
.modal {
    height: 586px;
    width: 408px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!       FEATURES       !!!!!!!!!!!!!!!!!! */

.features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
}
.features-list-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
}

/* !!!!!!!!!!!!!!!!!!!!!         TEAM         !!!!!!!!!!!!!!!!!!!!!!! */


.team {
    padding-bottom: 96px;
}

.team-title-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
}
.team-item {
        width: calc((100% - 24px) / 2);
            margin-bottom: 0;
}

.team-wrapper {
        width: 552px;
        margin-left: auto;
        margin-right: auto;
}

/* !!!!!!!!!!!!!!!!!!!     CUSTOMERS       !!!!!!!!!!!!!!*/

.customers-list {
        column-gap: 24px;
}

.customers-item {
    width: 168px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!     FOOTER      !!!!!!!!!!!!!!!! */

.footer-position-1 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;

}
.footer-social {
    margin-left: 0;
    margin-right: 0;

}

.footer-position {
    max-width: 552px;
    padding-left: 0;
    padding-right: 0;
}
.footer-position-up {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.footer-subscribe{
}

.subscribe-form {

flex-direction: row;
gap: 24px;
}
.subscribe-form-field {
    width: 264px;
}

.footer-soc-title {
    text-align: left;
}


}