@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;

    }

    .header {
        padding-top: 24px;
        padding-bottom: 12px;
    }

    .header-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-navi {
        display: flex;
        align-items: center;

    }

    .header-item:not(:last-child) {
        margin-right: 40px;
    }

    .header-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--main-text-color);
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link.current {
        position: relative;
        color: var(--btn-bg-color-active);
    }

    .header-link.current::after {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        bottom: -24px;
        background-color: currentColor;
    }

    .header-link:is(:hover, :focus) {
        color: var(--btn-bg-color-active);
    }

    .current {
        color: var(--btn-text-color);
    }

    .contact-adress-link {

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--second-text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-adress-link:hover,
    .contact-adress-link:focus {
        color: var(--btn-bg-color-active);
    }

    .mobile-menu-open {
        display: none;
    }


    /* !!!!!!!!!!!!!!!!!!!!!!     HERO        !!!!!!!!!!!!!!!!!!!!!!! */

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/);
    }




}